@charset "utf-8";

body {font-family: "Noto Sans", "Noto Sans KR", sans-serif; color: #333; background: #fff !important}

legend  {display: none}

.loginbox {padding: 150px 50px}
.loginbox h2 {font-size: 30px; padding: 40px 0; font-weight: bold;}
.loginbox .outer {border: 1px solid #aaa; margin: 30px 0; padding: 60px 0; 
                  text-align: center; background: #ddd;}
.loginbox .outer div {display: inline-block; vertical-align: middle;} 
.loginbox .outer label {width: 70px; display: inline-block; text-align: left; 
                        vertical-align: middle;}
.loginbox .outer input {height: 35px; width: 200px; vertical-align: middle;}
.loginbox .outer p {margin: 10px 0;}
.loginbox .outer > p:nth-of-type(1) {margin-top: 30px;}
.loginbox .outer > p {font-size: 14px;}
.loginbox .outer > p > strong {font-weight: bold; padding: 0 10px;}
.loginbox .outer button {width: 100px; height: 80px; vertical-align: middle; border: none;
                         background: #555; color: #fff; border-radius: 5px;}
                         