@media screen and (max-width: 1200px) {
/* article5*/
.article5 {margin-top: 100px; height: 520px; background: url(../img/cont.jpg) no-repeat;}
}   /* 전체 닫는 괄호 */



@media screen and (max-width: 1024px) {
/* header */
    #header {position: relative;}
    #header.on .open, #header.on .close {position: absolute; top: 50%; right: 25px; 
                                          transform: translateY(-50%);}
    #header .open, #header .close {position: absolute; top: 53px; right: 25px;}
    #header .open.on, #header .close.on {display: block;}
    #header .open button, .close button {font-size: 35px; color: #30a488; background: none;
                                          border: none;}
    #header h1 {float: unset; padding: 30px 0; padding-left: 20px;}
    #header .nav {float: unset; font-size: 18px; display: block; text-align: center;
                  padding: 10px 0 0px 0; z-index: 99999; 
                  position: fixed; top: 102px; bottom: 0; right: -220px;
                  overflow-y: auto; width: 220px; background: #fff}
    #header .nav.on {display: block;}
    .nav .depth1 > li {display: block; font-weight: bold; position: relative;
                       padding: 20px 0px;}
    .nav .depth1 > li i {display: none;}
    .nav .depth2 {position: static; top: 100%; left: 0; right: 0; width: auto; text-align: left;
                 z-index: 9999999; display: none; text-align: center; padding-top: 23px;}
    .nav .depth2 > li > a {padding: 15px 20px 13px; display: block; font-size: 15px; 
                           color: #555;}
    /* 검색창 */
    #header .search {position: absolute; right: 55px; top: 57px; color: #30a488;
                     transform: translateY(0%); font-size: 29px; z-index: 999999;}
    #header .search #sbox {border: none; text-indent: 1em; width: 0;  
                           overflow: hidden; transition: all 0.5s;
                           outline: none; background: #eee; padding: 8px 0px; }
    #header .search #sbox.on {width: 200px;}
       

/* 공통 */
    .title p {color: #aaa081; font-size: 20px; font-weight: bold; font-style: italic;
             margin-left: 40px;}
    .title h3 {font-size: 32px; font-weight: bold; margin: 30px 30px 50px 50px;
               word-break: keep-all; overflow: hidden; text-overflow: ellipsis; 
               line-height: 1.3;}
/* article2 */
    .article2 ul li {height: 330px; float: left; width: 33.3333%;
                     opacity: 0; -webkit-transform: translate3d(0, 100%, 0); 
                    transform: translate3d(0, 100%, 0); transition: all 0.3s}
    .slide_group1 .slidetext h2 {font-size: 44px; font-weight: 500; padding-bottom: 50px;}
    .article2 li i {font-size: 40px; background: rgba(0,0,0,0.05); border-radius: 50%; 
                    width: 90px; height: 90px; line-height: 90px; margin: 20px 0 20px;}
/* article3 */
    .article3 img {float: left; animation: ani 5s ease-in-out 0s infinite alternate;
                   padding-left: 30px; width: 220px;}
    .article3 .onview {float: right; width: 70%; padding-top: 50px; padding-right: 80px;
                       padding-left: 50px;}
    .article3 .onview ul {line-height: 2; margin: 40px 0 0 0px;}  
    .article3 .onview ul li {float: right;  width: 44%; list-style-type: disc; counter-reset: #222;
                                margin-left: 18px;} 
/* article4 */
    .article4 .going div:last-child p:nth-of-type(1) {font-size: 18px; padding: 20px 0; line-height: 1.5; 
                                        font-weight: bold;}
    .article4 .going div:last-child p:nth-of-type(2) {font-size: 13px; color: #aaa081;}
/* article5*/
    .article5 {margin-top: 100px; height: 600px; background: url(../img/cont.jpg) no-repeat;}
    .article5 .title p {padding-top: 50px; }
    .article5 .title h3 {color: #fff; padding-bottom: 20px;}
    .article5 .slide .sdtext {position: absolute; bottom: 50px; left: 0; width: 100%; padding-left: 60px;}
    .article5 .slide .sdtext > p {margin: 0; font-size: 23px; line-height: 36px;
                                 font-weight: bold; color: #fff; 
                                 text-shadow: 2px 3px #aaa081; }
/* article7*/
    .article7 .programm {padding: 40px 0px 40px 20px; background: #fff; margin-bottom: 25px; 
                         overflow: hidden; text-overflow: ellipsis; word-break: keep-all;}
    .article7 .programm .first {float: left; width: 32%; }
    .article7 .programm .first p {display: inline-block; font-size: 45px; font-weight: bold ; 
                                    padding-right: 20px;}
    .article7 .programm img {border-radius: 50%; box-shadow: 0px 10px 20px 0px rgb(33 37 43 / 20%);    
                              cursor: pointer; position: relative; transition: all 1s; 
                              display: inline-block; width: 60%;}                         
    .article7 .programm .second {float: left; width: 45%; line-height: 1.5; margin-top: 25px;
                            padding-left: 20px; padding-right: 10px;}
    .article7 .programm .third {float: right; width: 21%; margin-top: 68px; padding-right: 10px; }
    .article7 .programm .third a {padding: 10px 28px; border:2px solid #aaa; transition: all 0.5s;}                         
/* article8 */
    .article8 {height: 330px; background: url(../img/cont.jpg) no-repeat; 
                background-attachment: fixed; background-size: cover; margin-top: 100px;
                text-align: center; position: relative;}
    .article8 a {display: inline-block; padding: 12px 26px; margin: 40px 15px 10px;
                border: 1px solid #aaa081; color: #fff; transition: all 0.5s;}
/* footer */    
    .ft1 .privacy {float: unset; text-align: center; padding-top: 20px;}
    .ft1 .privacy a:nth-of-type(1) {position: relative; padding-left: 0px; font-size: 14px;}
    .ft1 .sns {float: unset; text-align: center; padding-top: 15px}
    .ft1 .sns a:nth-of-type(5) {padding-right: 0}
    .ft1 h1 {position: absolute; top: 0; left: 50%; right: 0; transform: translateY(-50%);}
    .ft2 .address {float: unset; margin-left: 0px ; display: block; text-align: center;
                    padding-bottom: 10px;}
    .ft2 .info {position: static; top: 50%; left: 0; right: 0; transform: translateY(0%); display: inline-block;}
    .ft2 .contact {float: right;  margin-right: 8px;}

}   /* 전체 닫는 괄호 */



@media screen and (max-width: 850px){
/* article5*/
    .article5 {margin-top: 100px; height: 550px; background: url(../img/cont.jpg) no-repeat;}

}   /* 전체 닫는 괄호 */    



@media screen and (max-width: 768px){
/* 공통 */
    .title p {color: #aaa081; font-size: 18px; font-weight: bold; font-style: italic;
                margin-left: 40px;}
    .title h3 {font-size: 28px; font-weight: bold; margin: 30px 30px 50px 50px;
                 word-break: keep-all; overflow: hidden; text-overflow: ellipsis; 
                line-height: 1.3;}
/* article1 */
    .article1 {height: 450px; position: relative;}
    .slide_group1 .slick-dots {position: absolute; bottom: 250px; left: 0; right: 0; text-align: center;}
    .slide_group1 .slick-dots li {display: inline-block; margin: 0 5px; width: 60px; height: 3px; 
                                  background:rgba(255,255,255,0.2); position: relative;}
    .slide_group1 .slick-dots li button {width: 0px; height: 3px; background: #30a488; text-indent: -9999px; 
                                         border: none; overflow: hidden; position: absolute; top: 0; left: 0;}
    @keyframes barani {from {width: 0;} to {width: 60px;}}
    .article1 .playstop {position: absolute; bottom: 115px; left: 50%; margin-left: 170px; color:rgba(255,255,255,0.2); 
                         border: none; background: none; font-size: 14px; display: none;}
    .slide_group1 .slidetext {position: absolute; top: 30%; left: 0; right: 0; line-height: 1.5;
                              text-align: center; color: #fff; transform: translateY(-50%); 
                              word-break: keep-all; overflow: hidden; text-overflow: ellipsis;}
    .slide_group1 .slidetext p {font-size: 23px; font-weight: 700; padding-bottom: 20px;}
    .slide_group1 .slidetext h2 {font-size: 39px; font-weight: 500; padding-bottom: 50px;}
    .slide_group1 .slidetext a {display: inline-block; font-size: 15px; padding: 12px 40px;
                                background: rgba(255,255,255,0.8); color: #333;
                                font-weight: 600; transition: all 0.5s;}
/* article2 */
    .article2 ul {text-align: center; margin-top: 30px; z-index: 99999; position: relative;}
    .article2 ul li {height: 300px; float: unset; width: 80%; margin: 0 auto; display: block;}
    .article2 li {height: 300px; }
    .article2 li i {font-size: 40px; background: rgba(0,0,0,0.05); border-radius: 50%; 
                    width: 90px; height: 90px; line-height: 90px; margin: 22px 0 20px;}
    .article2 li h3 {font-size: 18px; margin-bottom: 20px;} 
    .article2 li p {color:#777; line-height: 1.3; padding: 0px 0 ;}
    .article2 li > a:last-of-type {display: inline-block; padding: 11px 27px; margin-top: 30px; 
                                    background: #ddd; transition: all 0.5s;}
    .article2 li:nth-child(1) p {float: left; width: 20%; margin-right: 10%; margin-left: 10%; 
                             border: 2px solid #888;; padding: 5px 8px; font-size: 14px;
                             margin-top: 8px; border-radius: 20px; transition: all 0.5s;}
/* article3 */
    .article3 img {float: left; animation: ani 5s ease-in-out 0s infinite alternate;
                    padding-left: 10px; width: 25%;}
    .article3 .onview {float: right; width: 75%; padding-top: 20px; padding-right: 10px;
                        padding-left: 30px;}
    .article3 .onview ul li {float: right;  width: 44%; list-style-type: disc; counter-reset: #222;
                             margin-left: 18px; font-size: 15px;} 
/* article4 */
    .article4 .going {float: left; width: 100%; text-align: center; margin-bottom: 40px;
                      margin-top: 10px; padding: 0 70px;}
    .article4 .going div:last-child p:nth-of-type(1) {font-size: 20px; padding: 20px 0; line-height: 1.5; 
                                                      font-weight: bold;}
    .article4 .going div:last-child p:nth-of-type(2) {font-size: 15px; color: #aaa081;}
    .article4 .going:last-child {margin-bottom: 0px;}
/* article5 */
    .article5 {margin-top: 100px; height: 500px; background: url(../img/cont.jpg) no-repeat;}
    .article5 .title p {padding-top: 50px; }
    .article5 .title h3 {color: #fff; padding-bottom: 40px;}
    .article5 .slide {padding-left: 150px; position: relative;}
    .article5 .slide .sdtext {position: absolute; bottom: 50px; left: 0; width: 100%; padding-left: 30px;}
    .article5 .slide .sdtext > p {margin: 0; font-size: 20px; line-height: 36px;
                                font-weight: bold; color: #fff; 
                                text-shadow: 2px 3px #aaa081; }
/* article6 */
    .article6 .column {float: left; width: 100%; padding: 20px 40px 0 ; height: 700px;}
    .article6 .column1 p {font-size: 16px; color: #999; line-height: 1.5;}  
    .article6 .column2 p {color: #555; font-size: 18px; line-height: 2; margin-top: 30;}  
/* article7*/
    .article7 .programm {padding: 40px 0px 40px 20px; background: #fff; margin-bottom: 25px; text-align: center;
                         overflow: hidden; text-overflow: ellipsis; word-break: keep-all; }
    .article7 .programm .first {float: unset; width: 100%; display: block;}
    .article7 .programm .first p {display: block; font-size: 45px; font-weight: bold ; 
                                  padding-right: 0px; padding-bottom: 15px;}
    .article7 .programm .first img {border-radius: 50%; box-shadow: 0px 10px 20px 0px rgb(33 37 43 / 20%);    
                                    cursor: pointer; position: relative; transition: all 1s; 
                                    display: inline-block; width: 30%; margin: 10px 0;}
    .article7 .programm .second {float: unset; width: 100%; line-height: 1.5; margin-top: 15px; 
                                padding-left: 10px; padding-right: 10px;}
    .article7 .programm .third {float: unset; width: 100%; margin-top: 50px; padding-right: 10px; 
                            display: block}
/* article8 */
    .article8 {height: 330px; background: url(../img/cont.jpg) no-repeat; 
           background-attachment: fixed; background-size: cover; margin-top: 100px;
           text-align: center; position: relative;}
    .article8 h4 {font-size: 38px; color: #fff; padding-bottom: 30px;}
    .article8 p {font-size: 15px; color: #fff; line-height: 1.5;}
/* article11 */
    .article11 div {float: unset; width: 100%; margin-right: 0%; margin-bottom: 40px;
                padding: 0 20px;}
    .article8 a {display: inline-block; padding: 10px 25px; margin: 40px 15px 10px;
                border: 1px solid #aaa081; color: #fff; transition: all 0.5s;
                font-size: 15px;}  
/* footer */ 
    .ft1 .privacy a {position: relative; padding-left: 20px; font-size: 13px;}
    .ft1 .privacy a::after {display: none;}
    .ft1 .sns a {padding-right: 30px; font-size: 20px;}
    .ft2 .address span:nth-child(2) {padding-bottom: 20px;}
    



}   /* 전체 닫는 괄호 */







@media screen and (max-width: 620px){
/* article5*/
.article5 {margin-top: 100px; height: 450px; background: url(../img/cont.jpg) no-repeat;}

 
}   /* 전체 닫는 괄호 */                               


@media screen and (max-width: 500px){
.slide_group1 .slidetext p {font-size: 18px; font-weight: 700; padding-bottom: 20px;}
.slide_group1 .slidetext h2 {font-size: 32px; font-weight: 500; padding-bottom: 50px;}
.slide_group1 .slidetext a {display: inline-block; font-size: 15px; padding: 12px 40px;
          background: rgba(255,255,255,0.8); color: #333;
          font-weight: 600; transition: all 0.5s;}
/* article3 */
.article3 img {float: left; animation: ani 5s ease-in-out 0s infinite alternate;
               padding-left: 10px; width: 25%; display: none; }
.article3 .onview {float: unset; width: 100%; padding-top: 0px; padding-right: 10px;
                  padding-left: 30px;}
.article3 .onview ul li {float: right;  width: 44%; list-style-type: disc; counter-reset: #222;
                         margin-left: 18px; font-size: 15px;} 
/* article5*/
.article5 {margin-top: 100px; height: 650px; background: url(../img/cont.jpg) no-repeat;}
/* article9 */
.article9 ul li {float: left; width: 100%; margin-right: 1%; margin-bottom: 20px;
                  text-align: center; cursor: pointer; box-shadow: 0px 10px 20px 0px rgb(33 37 43 / 5%)}
.article9 ul li:nth-child(3n) {margin-right: 0;}
/* footer */
.ft2 .info {position: static; top: 0%; left: 0; right: 0%; transform: translateY(0%); 
            display: block; text-align: center; padding-bottom: 10px;}
.ft2 .contact {float: unset;  margin-right: 0px; text-align: center;}
.ft2 .address span:nth-child(2) {padding-bottom: 0px;}
    
}   /* 전체 닫는 괄호 */





